.product-base {
    width: 210px;
    text-align: left;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 10px 30px;

    .p-card-body {
        padding: 0px;
        .p-card-content {
            padding: 0px;
        }
        .p-card-footer {
            padding: 0px;
        }
    }

    .product-picture {
        width: 210px;
        height: 280px;
        background: rgb(229, 241, 255) none repeat scroll 0% 0%;

        & > img {
            height: 280px;
            width: 100%;
        }
    }

    a {
        text-decoration: none;
        color: #282c3f;
        background-color: transparent;
    }

    .product-productMetaInfo {
        position: relative;
        z-index: 3;
        background: #fff;
        padding: 0 10px;
        height: 100%;
        margin-top: 12px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;
    }

    .product-brand {
        margin-top: inherit;
        -webkit-margin-before: initial;
        margin-block-start: 0;
        font-size: 16px;
        font-weight: bold; //500
        line-height: 1;
        color: #282c3f;
        margin-bottom: 6px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .product-product {
        color: #535766;
        font-size: 14px;
        line-height: 1;
        margin-bottom: 0;
        margin-top: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 400;
        display: block;
    }

    .product-discountedPrice,
    .product-price {
        font-size: 14px;
        color: #282c3f;
        font-weight: bold; //500
    }

    .product-price {
        line-height: 15px;
        margin: 10px 0 6px;
        white-space: nowrap;
    }

    .product-strike {
        text-decoration: line-through;
        color: #7e818c;
        font-weight: 400;
        margin-left: 5px;
        font-size: 12px;
    }

    .product-discountPercentage {
        color: #ff905a;
        font-weight: 400;
        font-size: 12px;
        margin-left: 5px;
    }
}
